body{
	background-color: #00b2cc;
	margin: 0;
	z-index: 0;
}

header{
	position: fixed;
	width: 100%;
	height: auto;
	background-color: #423d3d;
	z-index: 2;
	padding: 2px;
}

header div{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #423d3d;
	z-index: 2;
	padding: 10px;
}

header div input{
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 20px;
	margin-top: 8px;
	margin-right: 50px;
}

header div img{
	margin-top: 10px;
	margin-right: 250px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#book{
	margin-top: 100px;
	margin-left: 800px;
	width: 50px;
	height: 50px;
}



#user{
	height: 100%;
	position: fixed;
	width: 250px;
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	z-index: 2;
}

#user img{
	margin-top: 50px;
	width: 50px;
	height: 50px;
}

#user ul{
	list-style-image: url('https://img.atwikiimg.com/www40.atwiki.jp/fujikoffujio/attach/1/488/0pticon-f07.gif');
}

#user a:link {
	text-decoration: none;
	color: gray;
	background-color: transparent;
}

#user a:visited{
	text-decoration: none;
	color: gray;
	background-color: transparent;
}

#user a:hover{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

#user ul li{
	margin-top: 2px;
}

section{
	margin-left: 350px;
	background-color: white;
	height: 1000px;
	width: 50%;
	border-radius: 5px;
}


#posting{
	background-color: white;
	width: 600px;
	height: 400px;
	max-height: 1500px;
	margin-left: 500px;
	border-radius: 20px;
	padding: 30px;
	position: relative;
	z-index: 1;
}

#posting img{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 30px;
	margin-bottom: 30px;
}


#posting #likeunlike button{
	color: gray;
	background: transparent;
	width: 80px;
	height: 20px;
	padding:5px;
	border: none;
	cursor: pointer;
	text-align: center;
}

#likeunlike{
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
	padding: 5px;
	width: auto;
}

#likeunlike span{
	color: gray;
	margin-bottom: 15px;
}

#report{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 27px;
	margin-bottom:2px;	
}
#writer{
	display: inline-block;
}

#comment{
	width: 650px;
	height: auto;
	background:transparent;
	margin-left: 500px;
	margin-top:20px;
	border-radius: 50px;
}

#comment textarea{
	border-radius: 20px;
	width: 500px;
	padding: 10px;
	display: inline-block;
	margin-top: 20px;
}

#comment button{
	background-color: #05e6ff;
	width: 50px;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
	padding: 6px;
}




#err h1{
	color: white;
}

#err h3{
	color: white;
}

#err link{
	display: inline-block;
}


#err a{
	color: white;
	text-decoration: none;
}

#err a:hover{
	color: white;
	text-decoration: underline;
}

